.nav-section {
    background-color: darkcyan;
    text-align: center;
    color: white;
    padding: 5px 0px;
}

.nav-li {
    color: white;
    font-size: 30px;
    display: inline;
    padding: 0px 10px;
}
.header-section {
        background-image: url("https://www.featurepics.com/StockImage/20080325/silver-bricks-stock-image-664340.jpg");
        padding: 200px 0px;
}

.head   {
    color: white;
    font-size: 70px;
    text-align: center;
}

.about-section {
    background-color: grey;
    padding: 50px 0px;
    text-align: center;
}

.about-me   {
    text-align: center;
    font-size: 30px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 7px solid #080808;
}

.p {
    font-size: 25px;
    text-align: center;
}

.h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.serv-li {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}

.services{
    background-color: white;
    text-align: center;
    padding: 50px 0px;
}

.works-images {
    display: inline;
    border: 7px solid #080808;
    width: 300px;
    margin: 0 auto 0 auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.contact{
    background-color: white;
    text-align: center;
    padding: 50px 0px;
}

.contact-button {
    border-radius: 25px;
}
